@using Data.ViewModels.Region
@model RegionViewModel
@{
    ViewData["Title"] = "Region - Add";
}
<h2>@ViewData["Title"]</h2>
<hr />

<div class="row">
    <div class="col-md-4">
        <section>
            <form asp-action="Create" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <input type="hidden" asp-for="RegionId"/>
                <div class="form-group">
                    <label asp-for="RegionName" class="required"></label>
                    <input asp-for="RegionName" class="form-control" />
                    <span asp-validation-for="RegionName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RegionCode" class="required"></label>
                    <input asp-for="RegionCode" class="form-control" />
                    <span asp-validation-for="RegionCode" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="RegionKey" class="required"></label>
                    <input asp-for="RegionKey" class="form-control" />
                    <span asp-validation-for="RegionCode" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Description"></label>
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success"><i class="fa fa-plus"></i> Add</button>
                    <button type="button" onclick="history.go(-1); return false;" class="btn btn-info"><i class="fa fa-arrow-left"></i> Back</button>
                </div>
            </form>
        </section>
    </div>
</div>