@using Data.ViewModels.Modal
@model Modal

<div aria-hidden="true" aria-labelledby="@Model.AriaLabelId" role="dialog" tabindex="-1" id="@Model.Id" class="modal fade">
    <div class="modal-dialog @Model.ModalSizeClass">
        <div class="modal-content">
        </div>
    </div>
</div>